@{
    ViewData["Title"] = "Cart";
}

<script src="~/TypeScript/Order/Index.js"></script>

<table class="center responsive-table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody id="orderList"></tbody>
</table>
<a id="btnCheckOut" class="waves-effect waves-light btn">checkout</a>
